<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" httpResponseStatus="Temporary" />
        <rewrite>
            <rules>
                <rule name="Redirect: Code and Chill" stopProcessing="true">
                    <match url="codeandchill\/?$" />
                    <action type="Redirect" url="/code-and-chill/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
