button,
.button
{
    margin-left: ($base-size / 2);
    margin-right: ($base-size / 2);
    position: relative;
    padding: calc(0.6667rem + 1px) $base-size;
    display: inline-block;
    font: inherit;
    line-height: 1em;
    letter-spacing: inherit;
    background-color: var(--theme);
    border: 1px solid var(--theme);
    color: var(--white);
    vertical-align: middle;
    cursor: pointer;
    transition: background-color $duration-short, color $duration-short;

    &:hover
    {
        background-color: transparent;
        color: var(--black);
    }
}