h1
{
    font-size: ($base-size * 2);
    
    &.title
    {
        text-align: center;
        margin-bottom: ($base-size * 4);
    }
}

h2
{
    font-size: ($base-size * 1.75);
}

h3
{
    font-size: ($base-size * 1.5);
}

h4
{
    font-size: ($base-size * 1.25);
}

h5
{
    font-size: $base-size;
}

h6
{
    font-size: ($base-size * 0.75);
}

h1, h2, h3, h4, h5, h6
{
    &.underlined
    {
        display: table;
        position: relative;
        padding-bottom: $base-size;
        margin: ($base-size * 2) auto ($base-size * 2) auto;
        
        &::after
        {
            content: '';
            width: 50%;
            height: 1px;
            position: absolute;
            background-color: var(--theme);
            left: 25%;
            bottom: 0;
        }
    }

    &.thin
    {
        font-weight: normal;
    }
}