table
{
    border-collapse: collapse;
    table-layout: fixed;
    
    th,
    td
    {
        padding: $base-size;
        border: 1px solid var(--dark-grey);
    }
    
    th
    {
        color: var(--theme);
        font-weight: normal;
    }
    
    td
    {
        
        text-align: center;
    }
    
    &.overflow-scroll
    {
        display: block;
        overflow-x: auto;
    }
}