html,
body
{
    height: 100%;
}

body
{
    margin: 0;
    font-family: $font-primary, $font-secondary;
    font-size: $base-size;
    letter-spacing: 1px;
    line-height: 2em;
    background-color: var(--white);
    color: var(--black);
}