$sizes:
(
    'small': $base-size,
    'regular': ($base-size * 2),
    'mid': ($base-size * 4),
    'large': ($base-size * 6),
    'xlarge': ($base-size * 8)
);

@each $name, $size in $sizes
{
    .vpadding-#{$name}
    {
        padding-top: $size;
        padding-bottom: $size;
    }
    
    .hpadding-#{$name}
    {
        padding-left: $size;
        padding-right: $size;
    }
    
    .padding-#{$name}
    {
        padding: $size;
    }
}