$COLOURS:
(
    "WHITE":        #fff,
    "BLACK":        #1c1f22,
    
    "ERROR":        #c01717,
    "WARNING":      #ffb400,
    "SUCCESS":      #6cc017,
    
    "THEME":        #4ac0de,
    
    "LIGHT-GREY":   #edeef0,
    "DARK-GREY":    #8995a1
);

@function GET-COLOUR($value)
{
    @if map-has-key($COLOURS, $value)
    {
        @return map-get($COLOURS, $value);
    }
    @return null;
}

@each $name, $colour in $COLOURS
{
    .bg-#{to-lower-case($name)},
    .hover-bg-#{to-lower-case($name)}:hover
    {
        background-color: #{$colour};
        
        @if (lightness($colour) < 66)
        {
            color: GET-COLOUR("WHITE");
            
            h1, h2, h3, h4, h5, h6
            {
                color: GET-COLOUR("WHITE");
            }
        }
    }
    
    .border-#{to-lower-case($name)},
    .hover-border-#{to-lower-case($name)}:hover
    {
        border: 1px solid #{$colour};
    }
    
    .text-#{to-lower-case($name)},
    .hover-text-#{to-lower-case($name)}:hover
    {
        color: #{$colour};
    }
}